In [1]:
import pandas as pd
import numpy as np

In [3]:
arr = np.array([4, -3, 2, 1, 8])
arr.mean()

2.4

In [8]:
np.median(arr)

2.0

In [14]:
np.percentile(arr, 95)

7.199999999999999

In [5]:
arr.std()

3.6110940170535577

## Running these on a dataset

In [9]:
df = pd.read_csv("../data/housing_data.csv")
df.head()

      RM   AGE     DIS  RAD    TAX  PTRATIO  LSTAT  PRICE
0  6.575  65.2  4.0900  1.0  296.0     15.3   4.98   24.0
1  6.421  78.9  4.9671  2.0  242.0     17.8   9.14   21.6
2  7.185  61.1  4.9671  2.0  242.0     17.8   4.03   34.7
3  6.998  45.8  6.0622  3.0  222.0     18.7   2.94   33.4
4  7.147  54.2  6.0622  3.0  222.0     18.7   5.33   36.2

In [10]:
df.describe()

,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000