## Learning objectives

* How to define dictionaries?
* Accessing values from a dictionary.
* Adding a new key to a dictionary.

In [1]:
cart = {'laptop': 1500}
print(cart)

{'laptop': 1500}

In [2]:
cart = {'laptop': 1500, 
        'car': 35000, 
        'pen': 2, 
        'bag': 50
       }

In [3]:
cart

{'laptop': 1500, 'car': 35000, 'pen': 2, 'bag': 50}

In [4]:
cart['bag']

50

In [5]:
cart['laptop']

1500

In [6]:
cart['book']

KeyError: 'book'

In [8]:
print(cart.get('book'))

None

In [9]:
type(None)

NoneType

In [10]:
cart['book'] = 55

In [11]:
cart

{'laptop': 1500, 'car': 35000, 'pen': 2, 'bag': 50, 'book': 55}

In [12]:
bank_loan = {}
bank_loan['age'] = 25
bank_loan['score'] = 750
bank_loan['email'] = 'mak@gmail.com'

In [13]:
bank_loan

{'age': 25, 'score': 750, 'email': 'mak@gmail.com'}

In [14]:
print(f"Mak({bank_loan['email']}) is {bank_loan['age']} years old and his score is {bank_loan['score']}")

Mak(mak@gmail.com) is 25 years old and his score is 750

## Iterating over a dictionary

In [15]:
cart

{'laptop': 1500, 'car': 35000, 'pen': 2, 'bag': 50, 'book': 55}

In [18]:
for key, value in cart.items():
    print(f"{key.capitalize()} costs USD {value}")

Laptop costs USD 1500
Car costs USD 35000
Pen costs USD 2
Bag costs USD 50
Book costs USD 55

In [19]:
for k in cart.keys():
    print(k)

laptop
car
pen
bag
book

In [20]:
for v in cart.values():
    print(v)

1500
35000
2
50
55

## Deleting a key value pair from a dictionary

In [21]:
cart

{'laptop': 1500, 'car': 35000, 'pen': 2, 'bag': 50, 'book': 55}

In [22]:
del cart['bag']
cart

{'laptop': 1500, 'car': 35000, 'pen': 2, 'book': 55}

## Write a small program to print the scores of students

In [25]:
dict_list = []

for i in range(10):
    dict_list.append({"Math": (i+1) * 10, "Science": (i+1)*12, "Psychology": (i+1) * 11})

In [26]:
print(dict_list)

[{'Math': 10, 'Science': 12, 'Psychology': 11}, {'Math': 20, 'Science': 24, 'Psychology': 22}, {'Math': 30, 'Science': 36, 'Psychology': 33}, {'Math': 40, 'Science': 48, 'Psychology': 44}, {'Math': 50, 'Science': 60, 'Psychology': 55}, {'Math': 60, 'Science': 72, 'Psychology': 66}, {'Math': 70, 'Science': 84, 'Psychology': 77}, {'Math': 80, 'Science': 96, 'Psychology': 88}, {'Math': 90, 'Science': 108, 'Psychology': 99}, {'Math': 100, 'Science': 120, 'Psychology': 110}]

In [28]:
for i in range(len(dict_list)):
    print("=========================")
    print(f"Student {i}:- \n")
    for key, value in dict_list[i].items():
        print(f"{key.capitalize()}: {value}\n")

=========================
Student 0:-

Math: 10

Science: 12

Psychology: 11

=========================
Student 1:-

Math: 20

Science: 24

Psychology: 22

=========================
Student 2:-

Math: 30

Science: 36

Psychology: 33

=========================
Student 3:-

Math: 40

Science: 48

Psychology: 44

=========================
Student 4:-

Math: 50

Science: 60

Psychology: 55

=========================
Student 5:-

Math: 60

Science: 72

Psychology: 66

=========================
Student 6:-

Math: 70

Science: 84

Psychology: 77

=========================
Student 7:-

Math: 80

Science: 96

Psychology: 88

=========================
Student 8:-

Math: 90

Science: 108

Psychology: 99

=========================
Student 9:-

Math: 100

Science: 120

Psychology: 110

In [29]:
## dictionary with a list of values
scores = {"name": ['p1', "p2", "p3", "p4"],
          "score_1": [10, 20, 30, 40],
          "score_2": [11, 12, 13, 14],
          "score_3": [21, 22, 24, 26],
         }

scores

{'name': ['p1', 'p2', 'p3', 'p4'],
 'score_1': [10, 20, 30, 40],
 'score_2': [11, 12, 13, 14],
 'score_3': [21, 22, 24, 26]}