## Working with strings

* Important methods to use with strings.
* How to manipulate strings.
* Immutable in nature.

In [7]:
message = "hi! I am learning Python"
print(message)

hi! I am learning Python

In [2]:
type(message)

str

In [3]:
message.title()

'Hi! I Am Learning Python'

In [4]:
##other methods for case conversion
message.lower()

'hi! i am learning python'

In [5]:
message

'hi! I am learning Python'

In [8]:
message.upper()

'HI! I AM LEARNING PYTHON'

In [9]:
message.capitalize()

'Hi! i am learning python'

## Cleaning methods for strings

In [10]:
col_name = "Number of Sales  "

In [11]:
col_name.strip()

'Number of Sales'

In [12]:
col_name.strip().lower()

'number of sales'

In [13]:
col_name.rstrip()

'Number of Sales'

In [14]:
col_name.lstrip()

'Number of Sales  '

In [15]:
message

'hi! I am learning Python'

In [19]:
new_message = message.replace("!", ",").capitalize()
new_message

'Hi, i am learning python'

In [18]:
message

'hi! I am learning Python'

## String formatting

In [30]:
name = "Eric"

In [31]:
intro_msg = f"I am {name}."
intro_msg

'I am Eric.'

In [32]:
name = "Mak"
ft = 5
inches = 11

msg = f"I am {name} and I am {ft} ft and {inches} inches tall!"

In [33]:
print(msg)

I am Mak and I am 5 ft and 11 inches tall!

In [35]:
##c-style formatting

print("My name is %s. I am %d ft and %d inches tall." %(name, ft, inches))

My name is Mak. I am 5 ft and 11 inches tall.

In [36]:
msg = f"I am {name.upper()} and I am {ft} ft and {inches} inches tall!"
msg

'I am MAK and I am 5 ft and 11 inches tall!'

## Add new line, tab and quotes to a string

In [38]:
message = "We are going to cover Python Math and Statistics"
message

'We are going to cover Python Math and Statistics'

In [40]:
message = "We are going to cover \nPython \nMath and \nStatistics"
print(message)

We are going to cover
Python
Math and
Statistics

In [45]:
message = "We are going to cover \n\t1.Python \n\t2.Math and \n\t3.Statistics"
print(message)

We are going to cover
	1.Python
	2.Math and
	3.Statistics

In [52]:
name = "Albert Einstein"
quote = "Imagination is more important than knowledge."
print(f"{name}: \"{quote}\"")

Albert Einstein: "Imagination is more important than knowledge."